.round-photo-container {
    position: absolute;
    top: 110px;
    right: 850px;
  }
  
  .round-photo {
    width: 160px; 
    height: 190px;
    border-radius: 50%;
    border: 2px solid #fff;
  }
  
  @media  only screen and (max-width: 768px) {
    .round-photo-container {
      top: 80px; /* Adjust the top spacing for mobile screens */
      right: 10px; /* Adjust the right spacing for mobile screens */
      position: relative;
    }
  }